<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script>
      var noLogoIP = <%= htmlWebpackPlugin.options.noLogoIP %>
      var YuHangJianKongJuIP = <%= htmlWebpackPlugin.options.YuHangJianKongJuIP %>
      var GongDaoBeiJingIP = <%= htmlWebpackPlugin.options.GongDaoBeiJingIP %>
      var courtIP = <%= htmlWebpackPlugin.options.courtIP %>
      function isNoLogo() {
        for(var i = 0; i < noLogoIP.length; i++) {
          if (window.location.href.indexOf(noLogoIP[i]) > 0) {
            return true
          }
        }
        return false
      }
      if (isNoLogo()) {
        document.write('<link rel="shortcut icon" href="/static/img/common_logo.png">')
      } else {
        document.write('<link rel="shortcut icon" href="/static/img/logo.png">')
      }
    </script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_747212_d4zc1jnlpi7.css">
    <script>
      var isAdmin = location.href.indexOf('isAdmin') >= 0
      var isTest = location.href.indexOf('yiwise') >= 0
      var isLocal = location.href.indexOf('localhost') >= 0 || location.href.indexOf(':952') >= 0
      var openConsole = isAdmin || isTest || isLocal

      var _c = window.console || {}

      for (var key in _c) {
        if (typeof _c[key] === 'function' && key !== 'error' && key !== 'warn') {
          if (!openConsole) {
            _c[key] = function() {}
          }
        }
      }
    </script>
    <script src="//at.alicdn.com/t/font_747212_d4zc1jnlpi7.js"></script>
    <script src="/static/js/vendor.dll.js"></script>
    <title></title>
  </head>
  <body>
    <!-- 开启富文本 -->
    <!-- <script src=<%= htmlWebpackPlugin.options.path %>/tinymce4.7.5/tinymce.min.js></script> -->
    <div id="app"></div>
    <!-- built files will be auto injected -->

  </body>
  <script>
    window.onload = function() {
      if (window.location.href.indexOf('ai.tanyibot.com') === -1) {
        document.title = '探意机器人'
      } else {
        document.title = 'AI机器人'
      }
      if (isNoLogo()) {
        document.title = '智能语音机器人'
      }
    }
  </script>
</html>

