@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin transparentScrollBar {
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #AFAFAF;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin pct($pct) {
  width: #{$pct};
  position: relative;
  margin: 0 auto;
}

@mixin triangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;
  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }
  @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
  @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }
  @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}

@mixin lineSplit($height,$color) {
  width: 1px;
  height: $height;
  background-color: $color;
}

@mixin elSwitch() {
  /deep/ .el-switch {
    margin-left: 5px;
    .el-switch__core {
      width: 32px !important;
      height: 12px;
      border-radius: 6px;
      background: #bcbcbc;
    }
    .el-switch__core:after {
      top: -3px;
      left: -2px;
      box-shadow: 1px 1px 2px #bcbcbc, -1px 0px 2px #bcbcbc;
    }
  }
  /deep/ .el-switch[aria-checked = true] {
    .el-switch__core {
      border-color: #c8e5ff !important;
      background-color: #c8e5ff !important;
    }
    .el-switch__core:after {
      top: -3px;
      left: 32px;
      background: #1890ff;
    }
  }
}
