//sidebar
$menuBg:#fff;
$menuHover:#e9f5ff;

#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: $--margin-transition-base;
    margin-left: 165px;
  }
  // 侧边栏
  .sidebar-container {
    // transition: $--width-transition-base;
    width: 165px !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 60px;
    box-shadow: 2px 5px 10px 1px rgba(35, 41, 64, 0.05);
    bottom: 0;
    left: 0;
    z-index: $--index-top;
    overflow: hidden;
    background-color: $menuBg;
    // reset element-ui css
    // .horizontal-collapse-transition {
    //   transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    // }
    .scrollbar-wrapper {
      overflow-x: hidden!important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .el-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .el-menu {
      border: none;
      width: 100% !important;
      .el-menu-item[role="menuitem"] {
        color: $--color-black!important;
        i {
          margin-right: 5px;
          display: inline-block;
          font-size: $--font-size-small;
        }
      }
      .el-menu-item i{
        color: $--color-text-regular;
        position: relative;
      }
      .el-menu-item {
        height: 36px;
        line-height: 36px;
        padding: 0 28px!important;
        font-size: 14px;
      }
      .el-menu-item.is-active {
        color: #1890ff!important;
        i {
          color: #1890ff!important;
        }
        background-color: $menuHover!important;
        &:before {
          display: block;
          position: absolute;
          content: '';
          height: 36px;
          width: 4px;
          right: 0px;
          background: $--color-primary;
        }
      }
      .el-submenu__title {
        color: $--color-text-regular!important;
        font-size: $--font-size-small;
        padding-left: 28px!important;
      }
    }

    .menu-wrapper::-webkit-scrollbar {
      display: none!important;
    }
    .menu-wrapper {
      padding-top: 10px;
      margin-bottom: 100px;
    }
  }
  #app .sidebar-container .el-menu::-webkit-scrollbar {
    display: none!important;
  }
  .el-submenu__title:hover{
    background: #fff!important;
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 165px !important;
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 165px !important;
  }
  #app .sidebar-container .el-menu .el-menu-item:hover {
    background: #e9f5ff !important;
  }
  //适配移动端
  // .mobile {
  //   .main-container {
  //     margin-left: 0px;
  //   }
  //   .sidebar-container {
  //     transition: $--transform-transition-base;
  //     width: 180px !important;
  //   }
  //   &.hideSidebar {
  //     .sidebar-container {
  //       transform: translate3d(-180px, 0, 0);
  //     }
  //   }
  // }
  // .withoutAnimation {
  //   .main-container,
  //   .sidebar-container {
  //     transition: none;
  //   }
  // }
}
